{% extends "academy/layout.html" %}
{% load static %}

{% block script %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			alert('Ya cargo')
		})
	</script>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
			<form action="{% url 'index' %}" method="post">
					{% csrf_token %}
					<input name="nombre" type="text" placeholder="Nombre">
					<input name="apellido" type="text" placeholder="Apellido">
          <select name="alumno" id="alumnos">
            {% for alumno in alumnos%}
              <option value="{{ alumno.id }}">{{ alumno.nombre }} {{ alumno.apellido }}</option>
            {% endfor %}
          </select>
          <input name="fecha" type="date">
					<input type="submit">
        </form>
        <ul>
          {% for alumno in alumnos %}

          	<li>{{ alumno.nombre }} {{ alumno.fecha }} {{ alumno.status }}</li>
          {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
