{% extends "academy/layout.html" %}
{% load static %}

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const dt = new Date();

    console.log(dt)
    const dateFormat = dt.getFullYear() + "-" +((dt.getMonth()+1).length != 2 ? "0" + (dt.getMonth() + 1) : (dt.getMonth()+1)) + "-" + (dt.getDate().length != 2 ?"0" + dt.getDate() : dt.getDate());
    console.log(dateFormat)
    document.getElementById('fecha-asistencia').value = dateFormat  
    const alumnos = document.querySelector('#alumnos');
    alumnos.addEventListener('change', (event) => asistencias_alumno(event.target.value))
    
    function asistencias_alumno(id) {
      const asistencias = document.querySelector('#asistencias');
      asistencias.innerHTML = ""
      fetch(`api/asistencias/${id}`)
      .then(response => response.json())
      .then(json => {
          json.asistencias.forEach((asistencia) => {
          
          console.log(asistencia.nombre);        

          asistencias.innerHTML += `<li>${asistencia.nombre} ${asistencia.fecha} ${asistencia.status}</li>`
          })
          //asistencias.forEach((a) => console.log(a));
          // asistencias.forEach((asistencia) => {
          //     console.log(asistencia);
          // });
      });
    }
  })
</script>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<div class="result"></div>
<form action="{% url 'index' %}" method="post">
  {% csrf_token %}
  <select name="alumno" id="alumnos">
    <option value="-1">Seleccione un alumno:</option>
    {% for alumno in alumnos%}
    <option value="{{ alumno.id }}">{{ alumno.nombre }} {{ alumno.apellido }}</option>
    {% endfor %}
  </select>
  <input name="fecha" type="date" id="fecha-asistencia">
  <input type="submit">
</form>
<ul id="asistencias">
  {% for alumno in alumnos %}

  <li>{{ alumno.nombre }} {{ alumno.fecha }} {{ alumno.status }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}