{% extends "academy/layout.html" %}
{% load static %}

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (document.querySelector('#boton-inactivar-alumnos') != null)
      document.querySelector('#boton-inactivar-alumnos').addEventListener('click', () => inactivar_alumnos())


    function inactivar_alumnos(){
      fetch('api/inactivar_alumnos')
      .then(response => response.json())
      .then(json => {
          
          console.log(json.message);
      });
    }
  })
</script>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
      {% if alumno %}
      <form action="{% url 'alumno_edit' alumno.id %}" method="post">
        {% csrf_token %}
        <input name="nombre" type="text" value="{{ alumno.nombre }}" class="nombre-representante">
        <input name="apellido" type="text" value="{{ alumno.apellido }}">
        <input type="submit" value="Salvar" name="salvar" class="accion">
        <input type="submit" value="Eliminar" name="eliminar" class="accion" id="boton-eliminar">
      </form>
      {% else %}
      <div id="listar-alumnos">
        <form action="{% url 'alumno_new' %}" method="post">
          {% csrf_token %}
          <input name="nombre" type="text" placeholder="Nombre">
          <input name="apellido" type="text" placeholder="Apellido">
          <input type="submit">
        </form>
        {% include "academy/tabla_alumnos.html" %}
      </div>
      {% endif %}
    {% endif %} 
{% endblock %}