{% extends "academy/layout.html" %}
{% load static %}

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (document.querySelector('#boton-inactivar-alumnos') != null)
      document.querySelector('#boton-inactivar-alumnos').addEventListener('click', () => inactivar_alumnos())

    function inactivar_alumnos(){
      fetch('api/inactivar_alumnos')
      .then(response => response.json())
      .then(json => {
          
          console.log(json.message);
      });
    }
  })
</script>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
      {% if mostrar == 'index' %}
        <div id="listar-alumnos">
          <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <input name="nombre" type="text" placeholder="Nombre">
            <input name="apellido" type="text" placeholder="Apellido">
            <input type="submit">
          </form>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Útima Asistencia</th>
                <th scope="col">Status</th>                  
                <th scope="col">#</th>
              </tr>
            </thead>
          <!-- <ul> -->
            {% for alumno in alumnos %}

              <tbody>
                <tr>
                  <td>{{ alumno.nombre }}</td>
                  <td>{{ alumno.fecha }}</td>
                  <td>{{ alumno.status }}</td>
                  <td><a href="{% url 'editar_alumno' alumno.id %}">Editar</a></td>
                </tr>
              </tbody>
              
              <!-- <li>
                {{ alumno.nombre }} {{ alumno.fecha }} {{ alumno.status }}
                <a href="{% url 'editar_alumno' alumno.id %}">Editar</a>
              </li> -->
              {% endfor %}
            </table>
          <!-- </ul> -->
        </div>
      {% else %}
        <div id="mantenimiento">
          <button id="boton-inactivar-alumnos">Inactivar alumnos</button>
        </div>
      {% endif %}
    {% endif %}
{% endblock %}