{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <title>{% block title %}Academia{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'academy/css/style2.css' %}" rel="stylesheet">
    {% block script %}
    {% endblock %}
    </head>

<body>
    <ul class="nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'alumnos' %}">Inicio</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'asistencia' %}">Asistencias</a>
            </li>   
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pagos' %}">Pagos</a>
            </li>                        
            <!-- <li class="nav-item">
                <a class="nav-link" href="{% url 'mantenimiento' %}">Mantenimiento</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'representantes' %}">Representantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tutores' %}">Tutores</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Salir</a>
            </li>

        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}
    </ul>
    <div>
        {% if user.is_authenticated %}
        Logeado como <strong>{{ user.username }}</strong>.
        {% else %}
        No registrado
        {% endif %}
    </div>    
    <hr>    
    {% block body %}
    {% endblock %}
</body>

</html>