{% extends "academy/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="contenedor-principal">
            <div class="contenedor-entrada-de-datos">
                <!-- alumno que hace el pago -->
                <form action="{% url 'pago_new' %}" method="post">
                    {% csrf_token %}
                    {% if alumno %}
                        <select name="alumno_id" id="alumnos">
                            <option value="-1">Seleccione un alumno:</option>
                            <!-- alumno que recorre el conjunto de alumnos para llenar el select -->
                            {% for objeto in alumnos%}
                                {% if objeto.id != alumno.id %}
                                    <option value="{{ alumno.id }}">{{ alumno.nombre }} {{ alumno.apellido }}</option>
                                {% else %}
                                    <option value="{{ alumno.id }}" selected>{{ alumno.nombre }} {{ alumno.apellido }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% else %}
                        <select name="alumno_id" id="alumnos">
                            <option value="-1">Seleccione un alumno:</option>
                            {% for alumno in alumnos%}
                                <option value="{{ alumno.id }}">{{ alumno.nombre }} {{ alumno.apellido }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    <input type="date" name="fecha_pago" >
                    <input type="number" name="monto" placeholder="Monto USD">
                    <input type="number" name="total_clases" placeholder="8">
                    <input type="date" name="fecha_inicio" >
                    <input type="submit" name="grabar" value="Grabar">
                </form>
            </div>   
            <br><br>     
            <div>
                <label for="datepicker">Mes:</label>
                <input type="text" onkeydown="return false" name="datepicker" id="datepicker" width="100px"/>
            </div>
            <div>
                {% include "academy/tabla_pagos.html" %}            
            </div>        
        </div>
    {% endif %}
    {% block script %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                function addRows(pagos, total_monto_mes, total_clases_mes) {
                    // borrar body original
                    if (document.querySelector('#body-tabla-pagos'))
                        document.querySelector('#body-tabla-pagos').remove();
                    const newTbody = document.createElement("tbody");
                    newTbody.setAttribute("id","body-tabla-pagos");
                    pagos.forEach(pago => {
                        newTbody.innerHTML += 
                        `<tr>
                            <td>${ pago.nombre }</td>
                            <td>${ pago.fecha_pago }</td>
                            <td>${ pago.monto }</td>
                            <td>${ pago.total_clases }</td>
                            <td>${ pago.fecha_inicio }</td>
                            <td><a href='pago_delete/${ pago.id }'>Eliminar</a></td>
                        </tr>`
                        })
                    
                    // Fila de totales
                    newTbody.innerHTML += 
                        `<tr>
                            <td></td>
                            <td></td>
                            <td>${ total_monto_mes }</td>
                            <td>${ total_clases_mes }</td>
                            <td></td>
                            <td></td>
                        </tr>`
                    
                    document.querySelector('#tabla-pagos').appendChild(newTbody)
                }        

                $("#datepicker").datepicker({
                    format: "mm-yyyy",
                    startView: "months",
                    minViewMode: "months",
                    autoclose: true 
                });

                $('#datepicker').datepicker()
                    .on('hide', function(e) {
                        console.log(e)
                        let month = e.date.getMonth() + 1;
                        let year = e.date.getFullYear();
                        fetch(`api/pagos/${month}/${year}`)
                            .then(response => response.json())
                            .then(json => {
                                console.log(json)
                                const pagos = JSON.parse(json.pagos)
                                // pagos.forEach(element => console.log(element.fields));
                                addRows(pagos, json.total_monto_mes, json.total_clases_mes)
                            })
                        })
                });

        </script>
    {% endblock %}
{% endblock %}