{% extends "academy/layout.html" %}
{% load static %}

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let representante_id = null
    const representantes = document.querySelector('#representantes');
    const alumno_id = document.querySelector('#alumno-id').value;
    const submitRepresentante = document.querySelector('#submit-representante');
    const inputNombre = document.querySelector('#input-nombre');
    if (inputNombre != null){
      inputNombre.onkeyup = () => {
          if (inputNombre.value.length > 0) {
            submitRepresentante.disabled = false;
          }
          else {
            submitRepresentante.disabled = true;
          }
        }
    }
    if (representantes != null) {
    representantes.addEventListener('change', (event) => { representante_id = event.target.value})
    }

    // fetch con post
    function asociar_representante(alumno_id, representante_id) {
      console.log(alumno_id)
      console.log(representante_id)
      fetch(`/api/asociar_representante/${alumno_id}/${representante_id}`, {
        method: 'POST',
        body: JSON.stringify({
          alumno_id: alumno_id,
          representante_id: representante_id,
        })
      })
        .then(response => response.json())
        .then(result => {
          // Print result
          console.log(result);
        });
    }
  })
</script>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
  <form action="{% url 'alumno_edit' alumno.id %}" method="post">
    {% csrf_token %}
    <input name="nombre" type="text" value="{{ alumno.nombre}}">
    <input name="apellido" type="text" value="{{ alumno.apellido}}">
    <br><br>
    <label for="representantes">Representante</label>
    <br>
    <select name="representante_id" id="representantes">
      <option value="-1">Seleccione un representante:</option>
      {% for representante in representantes %}
      {% if representante.id == alumno.representante.id %}
      <option value="{{ representante.id }}" selected>{{ representante.nombre }} {{ representante.apellido }}</option>
      {% else %}
      <option value="{{ representante.id }}">{{ representante.nombre }} {{ representante.apellido }}</option>          
      {% endif %}
      {% endfor %}
    </select>
    <!-- <input type="submit" value="Asociar" id="asociar-representante"> -->
    <input type="hidden" name = "alumno_id" id="alumno-id" value="{{ alumno.id }}">
    <input type="submit" value="Grabar">
  </form>
  <ul>
    {% for pago in pagos %}
      <li>
        {{ pago.fecha_pago }} {{ pago.total_clases }} {{ pago.fecha_inicio }}
      </li>
    {% endfor %}
  </ul>
  {% if representante is None %}
    <h1>{{representante}}</h1>
    <form action="{% url 'representante_new' %}" method="post">
      {% csrf_token %}
      <input name="nombre" type="text" placeholder="Nombre" id="input-nombre">
      <input name="apellido" type="text" placeholder="Apellido">
      <input name="celular" type="tel" placeholder="Número de teléfono" pattern="^[+58]{3} 4[1,2,4,6]{2} [0-9]{7}">
      <input name="email" type="email" placeholder="Email">
      <input type="submit" id="submit-representante">
      <input name="alumno_id" type="hidden" value="{{ alumno.id }}">
    </form>
  {% endif %}
{% endif %}
{% endblock %}