<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<h1>Formulario como tabla</h1>
		<form action="{% url 'prueba_salida' %}" method="post">
			{% csrf_token %}
			<table>
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nombre</th>
						<th scope="col">Valor a ingresar</th>
					</tr>
				</thead>
				{% for id in ids %}
					<tbody>
						<tr>
							<td>{{ id }}</td>
							<td><a href="#">Nombre o descripcion</a></td>
							<td><input type="text" name="{{id}}" placeholder="{{id}}"></td>
						</tr>
					</tbody>				
					
				{% endfor %}
			</table>
			<input type="submit">
		</form>

	</body>
</html>