{% extends "academy/layout.html" %}
{% load static %}
{% block imagen %}
<img src="{{ academia.url_imagen }}" alt="Logo-de-la-academia" width="60px">
{% endblock %}
{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const botonesAcciones = document.querySelectorAll('.accion-representante')
    const inputsNombre = document.querySelectorAll('.nombre-representante')
    const botonEliminar = document.querySelector('#boton-eliminar')

    document.querySelector('.nombre-representante').onkeyup = () => {
      if (document.querySelector('.nombre-representante').value.length > 0) {
        for (let i = 0; i < botonesAcciones.length; i++) {
          if (botonesAcciones[i] != null)
            botonesAcciones[i].disabled = false;
        }
      }
      else {
        for (let i = 0; i < botonesAcciones.length; i++) {
          if (botonesAcciones[i] != null && botonesAcciones[i] != botonEliminar)
            botonesAcciones[i].disabled = true;
        }
      }
      botonEliminar.disabled = true
    }
  })
</script>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
{% if representante %}
<form action="{% url 'representante_edit' representante.id %}" method="post">
  {% csrf_token %}
  <input name="nombre" type="text" value="{{ representante.nombre }}" class="nombre-representante">
  <input name="apellido" type="text" value="{{ representante.apellido }}">
  <input name="email" type="email" value="{{ representante.email }}" placeholder="Email">
  <select name="sexo">
    {% for opcion in sexo_opciones%}
        <option value="{{ opcion.0 }}">{{ opcion.1 }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Salvar" name="salvar" class="accion-representante" disabled>
  <input type="submit" value="Eliminar" name="eliminar" class="accion-representante" id="boton-eliminar">
</form>
{% else %}
<form action="{% url 'representante_new'  %}" method="post">
  {% csrf_token %}
  <input name="nombre" type="text" placeholder="Nombre" class="nombre-representante">
  <input name="apellido" type="text" placeholder="Apellido">
  <input name="email" type="email" placeholder="Email">
  <select name="sexo">
    {% for opcion in sexo_opciones%}
        <option value="{{ opcion.0 }}">{{ opcion.1 }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Crear" class="accion-representante" disabled>
</form>
{% endif %}

{% include "academy/tabla_representantes.html" %}    

{% endif %}
{% endblock %}