{% if pagos %}
<table class="table" id="tabla-pagos">
    <thead>
      <tr>
        <th scope="col">Alumno</th>
        <th scope="col">Fecha de pago</th>
        <th scope="col">Monto</th>
        <th scope="col">Clases pagadas</th>                  
        <th scope="col">Fecha de inicio</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
  <!-- <ul> -->
  <tbody id="body-tabla-pagos">
    {% for pago in pagos %}
        <tr>
          {% if alumno %}
            {% if alumno == pago.alumno %}
              <td>{{ pago.alumno.nombre }} {{ pago.alumno.apellido }}</td>
              <td>{{ pago.fecha_pago }}</td>
              <td>{{ pago.monto }}</td>
              <td>{{ pago.total_clases }}</td>
              <td>{{ pago.fecha_inicio }}</td>
              <td><a href="{% url 'pago_delete' pago.id %}">Eliminar</a></td>
            {% endif %}
          {% else %}
            <td>{{ pago.alumno.nombre }} {{ pago.alumno.apellido }}</td>
            <td>{{ pago.fecha_pago }}</td>
            <td>{{ pago.monto }}</td>
            <td>{{ pago.total_clases }}</td>
            <td>{{ pago.fecha_inicio }}</td>
            <td><a href="{% url 'pago_delete' pago.id %}">Eliminar</a></td>            
          {% endif %}
        </tr>
    {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <!-- <td>{{ total_pagos }}</td>
          <td>{{ total_clases }}</td> -->
          <td></td>
          <td></td>
        </tr>
  </tbody>
</table>
{% endif %}