{% if tutores %}
<table class="table" id="table-tutores">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Acción</th>                  
      </tr>
    </thead>
  <!-- <ul> -->
    {% for tutor in tutores %}

      <tbody>
        <tr>
          <td><a href="{% url 'tutor_entry' tutor.id %}">{{ tutor.nombre }}</a></td>
          <td>{{ tutor.apellido }}</td>
          <td><a href="{% url 'tutor_delete' tutor.id %}"><span class="m-1">Eliminar</span></a></td>
          
        </tr>
      </tbody>

      {% endfor %}
</table>
{% endif %}