
<table class="table" id="table-asistencia">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha de asistencia</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    {% for asistencia in asistencias %}
      <tbody>
        <tr>
          <td>{{ asistencia.alumno.nombre }}</td>
          <td>{{ asistencia.fecha }}</td>
          <td><a href="{% url 'asistencia_delete' asistencia.id %}">Eliminar</a></td>
        </tr>
      </tbody>
      {% endfor %}
</table>