
<table class="table" id="table-alumnos">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Útima Asistencia</th>
        <th scope="col">Status</th>                  
      </tr>
    </thead>
  <!-- <ul> -->
    {% for alumno in alumnos %}
      <tbody>
        <tr>
          <td>{{ alumno.id }}</td>
          <td><a href="{% url 'alumno_entry' alumno.id %}">{{ alumno.nombre }}</a></td>
          <td>{{ alumno.fecha }}</td>
          <td>{{ alumno.status }}</td>
          
        </tr>
      </tbody>
      {% endfor %}
</table>