:root {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --aresolver-verde-claro: #a7ca18;
  --aresolver-verde-oscuro: #169979;
  --aresolver-naranja: #e65f1e;
  --aresolver-blanco-verdoso: #f0f2eb;
}


/* body {
  font-family: 'Fanwood Text', serif;
  background-color: var( --aresolver-blanco-verdoso);
} */


/* Para laptops */
@media (min-width: 768px) {
  .caja-llamada-a-la-accion {
    background-color: orange;
    color: white;
    width: 100%;
    margin-top: 2%;
  }

  .caja-llamada-a-la-accion p,
  .caja-llamada-a-la-accion h2 {
    margin-left: 25%;
    margin-right: 25%;
  }

  .img-llamada-a-la-accion {
    width: 60%;
  }
  .div-que-quieres-aprender {
    display: flex;
    align-items: self-start;
    justify-content: space-around;
    padding: 0px 5px;
  }
  .div-direccion-telefono-rs {
    font-family: "Spartan", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 70%;
    color: #191c51 !important;
    line-height: 1.5em;
    background-color: white;
  }
  .div-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .sobre-nosotros {
    font-family: "Tahoma", Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: gray !important;
    line-height: 1.2em;
    /* text-align: center; */
  }
  .heading-1 {
    font-family: "Sora", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 56px;
    /* color: #ffffff !important; */
    line-height: 1.2em;
    text-align: center;
    /* text-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.4); */
  }
  .heading-2 {
    font-family: "Sora", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 48px;
    /* color: #ffffff !important; */
    line-height: 1.2em;
    /* text-align: center; */
  }
  .heading-3 {
    font-family: "Tahoma", "Sora", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 550;
    font-size: 24px;
    /* color: #ffffff !important; */
    line-height: 1.2em;
    /* text-align: center; */
  }
  .heading-3-centrado {
    font-family: "Tahoma", "Sora", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 550;
    font-size: 24px;
    color: #169979;
    line-height: 1.2em;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .div-img {
    width: 400px;
    border-radius: 15px;
  }

  /* Formato de la tarjeta de ranking */
  .tarjeta-ranking {
    width: 400px;
    min-height: 250px;
    border-radius: 7%;
    background-color: whitesmoke;
    padding: 2%;
    margin: 2%;
  }
}

/* Para celulares */
@media (max-width: 767px) {
  .caja-llamada-a-la-accion {
    background-color: orange;
    color: white;
    width: 100%;
    margin-top: 2%;
  }

  .caja-llamada-a-la-accion {
    p {
      margin-left: 10%;
      margin-right: 10%;
      font-size: 1em;
    }
    h2 {
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  .img-llamada-a-la-accion {
    width: 90%;
  }

  /* Formato de la tarjeta de ranking */
  .tarjeta-ranking {
    width: 235px;
    min-height: 260px;
    border-radius: 7%;
    background-color: whitesmoke;
    padding: 2%;
    margin: 2%;
  }
  .div-direccion-telefono-rs {
    display: none;
  }
  .div-end {
    display: none;
  }
  .sobre-nosotros {
    font-family: "Tahoma", Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: gray !important;
    line-height: 1.2em;
    /* text-align: center; */
  }
  .heading-1 {
    font-family: "Sora", Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
    font-size: 36px;
    /* color: #ffffff !important; */
    line-height: 1.2em;
    text-align: center;
    /* text-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.4); */
  }
  .heading-2 {
    font-family: "Sora", Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
    font-size: 24px;
    /* color: #ffffff !important; */
    line-height: 1.2em;
    /* text-align: center; */
  }
  .heading-3 {
    font-family: "Tahoma", "Sora", Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
    font-size: 18px;
    /* color: #ffffff !important; */
    line-height: 1.2em;
    /* text-align: center; */
  }
  .heading-3-centrado {
    font-family: "Tahoma", "Sora", Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #169979;
    line-height: 1.2em;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .div-img {
    width: 230px;
    border-radius: 15px;
  }
  .botones-leer-mas-contactanos {
    font-size: 0.8em;
  }
}

.fotos-instagram {
  margin-left: 10%;
  margin-right: 10%;
}

.div-centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
#div-con-link-a-google-map:hover {
  cursor: pointer;
}
a.no-style {
  color: inherit; /* Elimina el color del enlace */
  text-decoration: none; /* Elimina subrayado */
  cursor: pointer; /* Cambia el cursor al hacer clic en el enlace */
  margin-right: 15px;
}
.div-contenido-1 {
  background-color: orange;
  color: white;
  padding: 10px;
}
.div-contenido-2 {
  background-color: white;
  color: orange;
  padding: 10px;
  justify-content: center;
}

.div-areas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.div-areas p {
  font-size: large;
  color: red;
}

.div-boton-leer-mas {
  display: flex;
  justify-content: center;
}
.texto-largo {
  font: "Spartan", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: rgba(175, 173, 173, 50%) solid 1px;
}
.div-menu {
  background-color: white;
}
.div-cards-servicios {
  flex-direction: column;
  align-items: center;
}
.div-card {
  /* width: 250px;
    height: 500px; */
  margin-right: 18px;
  margin-bottom: 18px;
  /* border: solid 1px black; */
  background-color: whitesmoke;
  border-radius: 5%;
  display: grid;
}
.img-card {
  /* width: 250px; */
  max-width: 100%;
  margin-bottom: 5px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
.div-leer-mas-card {
  max-width: 100%;
  background-color: orange;
  align-self: flex-end;
  text-align: center;
}
.color-blanco {
  color: white;
  font-weight: bold;
}
.col-sm {
  padding: 0px 0px;
}
.letra-parrafos {
  font-family: "Spartan", Helvetica, Arial, Lucida, sans-serif !important;
  color: #169979;
}
/* Caja para dar tamaño al carrusel */
.caja-carrusel {
  width: 80%;
  /* border: 2px black solid; */
  background-color: orange;
}

.carousel-control-next,
.carousel-control-prev {
  color: white;
}
.fondo-naranja {
  background-color: orange;
}
.fa-star {
  color: #f0b823;
}
.fa-quote-right {
  color: #c20000;
}
.firma-alumno {
  color: #15297c;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.comentario-alumno {
  font-size: small;
  font-family: "Spartan", Helvetica, Arial, Lucida, sans-serif;
  color: #7a7a7a;
}

/* * {
    border: #191c51 solid 1px;
  } */

.aresolver-naranja {
  color: var(--aresolver-naranja);
}



.naranja {
  color: orange;
}

.fotos-instagram a {
  text-decoration: none;
}

#no-bullets {
  list-style-type: none;
}

.card {
  background-color: #f0f2eb;
}
/* .card-text ul {
  list-style-type: none;
} */