.contenedor-principal {
    border: 1px solid red;
    margin: 2px;
    padding: 4px; 
}

.contenedor-lista-de-tutores{
    margin-top: 5px; 
    border: 1px solid blue;
}

.contenedor-entrada-de-datos{
    border: 1px solid green;
}

.titulo-del-grafico{
    font-size: medium;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 10px;

}

.active {
    font-weight: 600;
}